header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: #333;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

header div.container {
  width: 94%;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: clamp(1rem, 8vw, 2.4rem);
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

header i {
  color: #fff;
  transition: all 0.2s;
}

header i.fa-star:hover {
  transform: scale(1.15);
  cursor: pointer;
}